* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html , body{
  height: 100%;
  width: 100%;
}
nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: normal;
  transition: 0.15s ease-out;
  &:hover {
    background-color: #9575CD;
  }
}

/* -------- Add New Property ---------- */

.add-property-form div {
  width: 100%;
  margin: 3px 0;
}
.add-property-form label {
  margin: 2px 0;
  display: flex;
  width: fit-content;
}
select {
  cursor: pointer;
}
.add-property-form input, .add-property-form select, .add-property-form textarea {
  width: 100%;
  padding: 5px   10px;
  height: 35px;
  border: 1px solid rgba(80, 80, 80, 0.527);
  border-radius: 8px;
}
/* -------- Add New Property Ended ---------- */

/* -------- Property Detail ---------- */
.property-table td, .property-table th {
  width: fit-content;
  padding: 10px 15px;
  font-size: 20px;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* -------- Property Detail Ended ---------- */





/* Global Css */
.submit-btn {
  background-color: #673AB7;
  cursor: pointer;
  color: white;
  height: 40px !important;
  font-size: 18px;
  border: none;
  outline: none;
  transition: 0.2s ease-out;
  &:hover {
    background-color: white;
    color: #673AB7;
    border: 1px solid #673AB7;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* scroll bar */
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #8e59e98c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e59e9d5;
}